Repository COS301-SE-2024/TuneIn, pull requests merged in 2024-08, with the labels that each got.

#165 Hotfix/otherprofilepage recommit
  backend/src/live/connecteduser/connecteduser.service.ts
  frontend/__tests__/FriendsGrid.test.tsx
  frontend/__tests__/ProfilePage.test.tsx
  frontend/app/components/EditDialog.tsx
  frontend/app/components/FriendsGrid.tsx
  frontend/app/components/PhotoSelect.tsx
  frontend/app/components/TopNavBar.tsx
  frontend/app/models/friend.ts
  frontend/app/screens/Home.tsx
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/services/AuthManagement.tsx
Labels: frontend

#178 Feature/queue voting
  frontend/__tests__/SongList.test.tsx
  frontend/__tests__/rooms/Voting.test.tsx
  frontend/app/components/SongList.tsx
  frontend/app/components/rooms/Voting.tsx
  frontend/app/screens/Search.tsx
  frontend/app/screens/WelcomeScreen.tsx
  frontend/app/screens/rooms/EditPlaylist.tsx
  frontend/app/screens/rooms/Playlist.tsx
  frontend/app/screens/rooms/RoomPage.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Demo 3

#185 Current room display and minor fixes
  backend/src/modules/dto-gen/dto-gen.service.ts
  backend/src/modules/rooms/rooms.controller.ts
  backend/src/modules/rooms/rooms.service.ts
  backend/src/modules/search/search.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  frontend/__tests__/ProfilePage.test.tsx
  frontend/app/PlayerContext.tsx
  frontend/app/components/FriendsGrid.tsx
  frontend/app/components/NowPlaying.tsx
  frontend/app/components/SkeletonUserItem.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/models/user.tsx
  frontend/app/screens/Home.tsx
  frontend/app/screens/Search.tsx
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/screens/rooms/RoomPage.tsx
Labels: frontend, backend
