Repository COS301-SE-2024/TuneIn, pull requests merged in 2024-07, with the labels that each got.

#123 Fixed Mocking issues
  backend/src/auth/spotify/spotifyauth.service.ts
  backend/src/modules/search/search.service.ts
  frontend/app/components/LinkBottomSheet.tsx
  frontend/app/screens/Home.tsx
  frontend/app/screens/messaging/ChatRoom.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/services/AuthManagement.tsx
  frontend/app/services/Utils.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
  frontend/tests/ChatListScreen.test.tsx
  frontend/tests/ChatScreen.test.tsx
  frontend/tests/CreateRoom.test.tsx
  frontend/tests/DevicePicker.test.tsx
  frontend/tests/EditProfile.test.tsx
  frontend/tests/Home.test.tsx
  frontend/tests/ProfilePage.test.tsx
Labels: medium priority, tests, Demo 3

#129 fixed .env issue
  frontend/@env.d.ts
  frontend/app/hooks/useSpotifyAuth.tsx
  frontend/app/screens/Auth/RegisterOther.tsx
  frontend/app/screens/SpotifyRedirect.tsx
  frontend/app/screens/rooms/RoomDetails.tsx
  frontend/app/services/AuthManagement.tsx
  frontend/app/services/ImageUpload.tsx
  frontend/app/services/UserPool.tsx
  frontend/app/services/Utils.tsx
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: bug, frontend, high priority

#127 How to test doc
  frontend/tests/HowToTest.md
Labels: documentation, frontend, tests

#130 Feature/room redesign
  backend/src/auth/spotify/spotifyauth.module.ts
  frontend/app/components/DevicePicker.tsx
  frontend/app/components/RoomCard.tsx
  frontend/app/components/Spotify/SpeakerIcon.tsx
  frontend/app/components/rooms/RoomCard.tsx
  frontend/app/components/rooms/RoomCardWidget.tsx
  frontend/app/components/rooms/RoomDetailsComponent.tsx
  frontend/app/hooks/useSpotifyAuth.tsx
  frontend/app/hooks/useSpotifyDevices.tsx
  frontend/app/models/Devices.ts
  frontend/app/models/Track.ts
  frontend/app/models/friend.ts
  frontend/app/screens/Auth/LoginScreen.tsx
  frontend/app/screens/Auth/OtherProfilePage.tsx
  frontend/app/screens/Auth/RegisterOther.tsx
  frontend/app/screens/Home.tsx
  frontend/app/screens/Testpage.tsx
  frontend/app/screens/messaging/ChatRoom.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/screens/rooms/RoomInfo.tsx
  frontend/app/screens/rooms/RoomOptions.tsx
  frontend/app/screens/rooms/RoomPage.tsx
  frontend/app/screens/rooms/functions/Bookmarker.tsx
  frontend/app/services/AuthManagement.tsx
  frontend/app/services/Utils.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, medium priority, Demo 3

#147 Hotfix/testfixes
  frontend/app/components/DevicePicker.tsx
  frontend/app/components/MusicPlayer.tsx
  frontend/app/components/NavBar.tsx
  frontend/app/components/RoomCard.tsx
  frontend/app/components/SongComponent.tsx
  frontend/app/components/SongDialog.tsx
  frontend/app/components/SongList.tsx
  frontend/app/components/SongRoomWidget.tsx
  frontend/app/components/TopNavBar.tsx
  frontend/app/components/Voting.tsx
  frontend/app/components/rooms/RoomCardWidget.tsx
  frontend/app/hooks/useSpotifyAuth.tsx
  frontend/app/models/Room.ts
  frontend/app/screens/Auth/ForgotPassword.tsx
  frontend/app/screens/Auth/IncorrectCode.tsx
  frontend/app/screens/Auth/RegisterOther.tsx
  frontend/app/screens/Home.tsx
  frontend/app/screens/SpotifyRedirect.tsx
  frontend/app/screens/messaging/ChatListScreen.tsx
  frontend/app/screens/messaging/ChatScreen.tsx
  frontend/app/screens/rooms/EditRoom.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/App.test.tsx
  frontend/tests/AppCarousel.test.tsx
  frontend/tests/ChatListScreen.test.tsx
  frontend/tests/ChatScreen.test.tsx
  frontend/tests/CreateRoom.test.tsx
  frontend/tests/DevicePicker.test.tsx
  frontend/tests/EditProfile.test.tsx
  frontend/tests/EditRoom.test.tsx
  frontend/tests/ForgotPassword.test.tsx
  frontend/tests/FriendsGrid.test.tsx
  frontend/tests/Home.test.tsx
  frontend/tests/IncorrectCode.test.tsx
  frontend/tests/NavBar.test.tsx
  frontend/tests/ProfilePage.test.tsx
  frontend/tests/RoomCard.test.tsx
  frontend/tests/RoomCardWidget.test.tsx
  frontend/tests/RoomDetailsComponent.test.tsx
  frontend/tests/SongList.test.tsx
  frontend/tests/SongRoomWidget.test.tsx
  frontend/tests/ToggleWIdget.test.tsx
  frontend/tests/Voting.test.tsx
  frontend/tests/__snapshots__/App.test.js.snap
  frontend/tests/__snapshots__/App.test.tsx.snap
  frontend/tests/__snapshots__/ChatListScreen.test.tsx.snap
  frontend/tests/__snapshots__/ChatScreen.test.tsx.snap
  frontend/tests/__snapshots__/Home.test.tsx.snap
Labels: medium priority
