Repository COS301-SE-2024/TuneIn, pull requests merged in 2024-09, with the labels that each got.

#232 Refinement of Profile Pages
  backend/jest_mocking/module-mocking.ts
  backend/openapi/api.json
  backend/openapi/api.yaml
  backend/prisma/schema.prisma
  backend/src/auth/spotify/spotifyauth.service.ts
  backend/src/modules/db-utils/db-utils.service.ts
  backend/src/modules/dto-gen/dto-gen.service.ts
  backend/src/modules/rooms/dto/songinfo.dto.ts
  backend/src/modules/rooms/rooms.service.spec.ts
  backend/src/modules/rooms/rooms.service.ts
  backend/src/modules/users/dto/user.dto.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.spec.ts
  backend/src/modules/users/users.service.ts
  frontend/__tests__/EditProfile.test.tsx
  frontend/__tests__/MorePage.test.tsx
  frontend/__tests__/ProfilePage.test.tsx
  frontend/app/components/AddFavSong.tsx
  frontend/app/components/EditGenreBubble.tsx
  frontend/app/components/FavoriteSong.tsx
  frontend/app/components/LinkBottomSheet.tsx
  frontend/app/components/PhotoSelect.tsx
  frontend/app/components/Selector.tsx
  frontend/app/models/Room.ts
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/profile/MorePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
Labels: frontend, backend

#238 Hotfix/search polishes
  backend/jest_mocking/module-mocking.ts
  backend/openapi/api.json
  backend/openapi/api.yaml
  backend/src/live/automod/automod.service.spec.ts
  backend/src/modules/dto-gen/dto-gen.service.spec.ts
  backend/src/modules/rooms/roomanalytics.service.spec.ts
  backend/src/modules/rooms/rooms.service.spec.ts
  backend/src/modules/rooms/rooms.service.ts
  backend/src/modules/search/search.controller.ts
  backend/src/modules/search/search.service.spec.ts
  backend/src/modules/search/search.service.ts
  backend/src/modules/users/users.service.spec.ts
  backend/src/modules/users/users.service.ts
  backend/src/recommendations/recommendations.service.ts
  backend/src/spotify/spotify.service.spec.ts
  frontend/__tests__/ChatListScreen.test.tsx
  frontend/__tests__/ProfilePage.test.tsx
  frontend/__tests__/RoomCardWidget.test.tsx
  frontend/__tests__/Search.test.tsx
  frontend/__tests__/UserItem.test.tsx
  frontend/app/components/Dropdown.tsx
  frontend/app/components/ToggleButton.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/models/SearchHistoryDto.ts
  frontend/app/screens/Search.tsx
  frontend/app/screens/profile/ProfilePage.tsx
Labels: frontend, backend

#243 Hotfix/filter bottom sheet
  backend/src/live/dmusers/dmusers.service.ts
  backend/src/modules/search/search.service.spec.ts
  backend/src/modules/search/search.service.ts
  frontend/__tests__/Search.test.tsx
  frontend/__tests__/ToggleButton.test.tsx
  frontend/app/components/FilterBottomSheet.tsx
  frontend/app/components/ToggleButton.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/screens/Search.tsx
Labels: frontend

#246 Feature/delete room
  frontend/__tests__/AddFavSong.test.tsx
  frontend/__tests__/AnalyticsPage.test.tsx
  frontend/__tests__/ChatItem.test.tsx
  frontend/__tests__/ChatScreen.test.tsx
  frontend/__tests__/EditProfile.test.tsx
  frontend/__tests__/MorePage.test.tsx
  frontend/__tests__/Playlist.test.tsx
  frontend/__tests__/RoomDetails.test.tsx
  frontend/__tests__/Search.test.tsx
  frontend/__tests__/WelcomeScreen.test.tsx
  frontend/__tests__/rooms/MyRooms.test.tsx
  frontend/__tests__/rooms/RoomCard.test.tsx
  frontend/app/components/Dropdown.tsx
  frontend/app/components/RoomDropdown.tsx
  frontend/app/components/home/miniplayer.tsx
  frontend/app/components/rooms/RoomCard.tsx
  frontend/app/components/rooms/RoomCardWidget.tsx
  frontend/app/components/rooms/RoomDetailsComponent.tsx
  frontend/app/index.tsx
  frontend/app/models/Room.ts
  frontend/app/screens/Auth/LoginScreen.tsx
  frontend/app/screens/Home.tsx
  frontend/app/screens/analytics/InteractionsAnalytics.tsx
  frontend/app/screens/messaging/ChatListScreen.tsx
  frontend/app/screens/messaging/ChatScreen.tsx
  frontend/app/screens/messaging/CreateChatScreen.tsx
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/profile/MorePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/screens/rooms/ChatRoom.tsx
  frontend/app/screens/rooms/EditRoom.tsx
  frontend/app/screens/rooms/MyRooms.tsx
  frontend/app/styles/colors.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, Demo 4

#248 Feature/home stack
  frontend/__tests__/AdvancedSettings.test.tsx
  frontend/__tests__/Auth/LoginScreen.test.tsx
  frontend/__tests__/EditProfile.test.tsx
  frontend/__tests__/HelpScreen.test.tsx
  frontend/__tests__/ProfilePage.test.tsx
  frontend/__tests__/RoomDetails.test.tsx
  frontend/__tests__/Search.test.tsx
  frontend/__tests__/WelcomeScreen.test.tsx
  frontend/__tests__/rooms/EditPlaylist.test.tsx
  frontend/__tests__/rooms/RoomOptions.test.tsx
  frontend/app.json
  frontend/app/Tabgroup.tsx
  frontend/app/_layout.tsx
  frontend/app/components/FilterBottomSheet.tsx
  frontend/app/components/NavBar.tsx
  frontend/app/index.tsx
  frontend/app/screens/(tabs)/HelpScreen.tsx
  frontend/app/screens/(tabs)/Home.tsx
  frontend/app/screens/(tabs)/Search.tsx
  frontend/app/screens/(tabs)/_layout.tsx
  frontend/app/screens/Auth/LoginScreen.tsx
  frontend/app/screens/Auth/RegisterOther.tsx
  frontend/app/screens/Auth/SpotifyRedirect.tsx
  frontend/app/screens/WelcomeScreen.tsx
  frontend/app/screens/profile/MorePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/screens/rooms/AdvancedSettings.tsx
  frontend/app/screens/rooms/ChatRoom.tsx
  frontend/app/screens/rooms/EditPlaylist.tsx
  frontend/app/screens/rooms/EditRoom.tsx
  frontend/app/screens/rooms/RoomDetails.tsx
  frontend/app/screens/rooms/RoomOptions.tsx
  frontend/app/screens/rooms/RoomPage.tsx
  frontend/assets/logo.png
  frontend/readME.md
Labels: frontend, low priority, Demo 4

#251 Feature/room splitting frontend
  frontend/__tests__/TestPage.test.tsx
  frontend/__tests__/rooms/SplittingPopUp.test.tsx
  frontend/__tests__/rooms/SplittingRoom.test.tsx
  frontend/app/components/SongList.tsx
  frontend/app/components/rooms/RoomSplitModal.tsx
  frontend/app/components/rooms/SplittingRoomPopUp.tsx
  frontend/app/screens/Testpage.tsx
  frontend/app/screens/rooms/SplittingRoom.tsx
  frontend/assets/imageholder.jpg
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#253 Feature/error handling
  backend/package.json
  frontend/__tests__/AnalyticsPage.test.tsx
  frontend/__tests__/Search.test.tsx
  frontend/__tests__/UserItem.test.tsx
  frontend/app/components/Selector.tsx
  frontend/app/components/TopNavBar.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/hooks/useSpotifyAuth.tsx
  frontend/app/hooks/useSpotifyDevices.tsx
  frontend/app/hooks/useSpotifySearch.tsx
  frontend/app/screens/(tabs)/Home.tsx
  frontend/app/screens/(tabs)/Search.tsx
  frontend/app/screens/Auth/OtherProfilePage.tsx
  frontend/app/screens/SpotifyRedirect.tsx
  frontend/app/screens/analytics/AnalyticsPage.tsx
  frontend/app/screens/analytics/GeneralAnalytics.tsx
  frontend/app/screens/analytics/InteractionsAnalytics.tsx
  frontend/app/screens/followers/AllFriends.tsx
  frontend/app/screens/followers/Followers.tsx
  frontend/app/screens/followers/Following.tsx
  frontend/app/screens/messaging/ChatListScreen.tsx
  frontend/app/screens/messaging/ChatRoom.tsx
  frontend/app/screens/messaging/ChatScreen.tsx
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/screens/rooms/EditPlaylist.tsx
  frontend/app/screens/rooms/EditRoom.tsx
  frontend/app/screens/rooms/RoomPage.tsx
  frontend/app/screens/rooms/functions/Bookmarker.tsx
  frontend/app/screens/rooms/functions/CurrentRoom.tsx
  frontend/app/services/AuthManagement.tsx
  frontend/app/services/ImageUpload.tsx
  frontend/app/services/Live.tsx
  frontend/app/services/SimpleSpotifyPlayback.tsx
  frontend/app/services/SongService.tsx
  frontend/app/services/SpotifyAuth.tsx
Labels: frontend

#259 Hotfix/search bug fixes
  backend/src/modules/search/search.service.ts
  frontend/__tests__/GenreAdder.test.tsx
  frontend/__tests__/Search.test.tsx
  frontend/app/components/Dropdown.tsx
  frontend/app/components/FilterBottomSheet.tsx
  frontend/app/components/NowPlaying.tsx
  frontend/app/components/Selector.tsx
  frontend/app/components/ToggleButton.tsx
  frontend/app/screens/(tabs)/Search.tsx
  frontend/app/screens/profile/ProfilePage.tsx
Labels: frontend

#260 Feature/room sharing
  frontend/__tests__/AdvancedSettings.test.tsx
  frontend/__tests__/RoomDetailsComponent.test.tsx
  frontend/__tests__/RoomInfo.test.tsx
  frontend/__tests__/friends/FriendCard.test.tsx
  frontend/__tests__/friends/FriendRequestCard.test.tsx
  frontend/__tests__/messaging/ChatScreen.test.tsx
  frontend/__tests__/messaging/MessageItem.test.tsx
  frontend/__tests__/messaging/ProfileCard.test.tsx
  frontend/__tests__/messaging/Profilecard2.test.tsx
  frontend/__tests__/messaging/RoomLink.test.tsx
  frontend/__tests__/messaging/__snapshots__/ChatScreen.test.tsx.snap
  frontend/__tests__/rooms/EditRoom.test.tsx
  frontend/__tests__/rooms/miniRoomCard.test.tsx
  frontend/__tests__/services/FriendServices.test.tsx
  frontend/app/components/AppCarousel.tsx
  frontend/app/components/DevicePicker.tsx
  frontend/app/components/FriendCard.tsx
  frontend/app/components/FriendRequestCard.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/components/messaging/MessageItem.tsx
  frontend/app/components/messaging/RoomLink.tsx
  frontend/app/components/messaging/RoomShareSheet.tsx
  frontend/app/components/messaging/profileCard.tsx
  frontend/app/components/rooms/MiniRoomCard.tsx
  frontend/app/components/rooms/RoomCardWidget.tsx
  frontend/app/components/rooms/RoomDetailsComponent.tsx
  frontend/app/models/DmDto.ts
  frontend/app/screens/(tabs)/Home.tsx
  frontend/app/screens/(tabs)/Search.tsx
  frontend/app/screens/(tabs)/_layout.tsx
  frontend/app/screens/followers/AllFriends.tsx
  frontend/app/screens/followers/FollowerStack.tsx
  frontend/app/screens/followers/Followers.tsx
  frontend/app/screens/followers/Following.tsx
  frontend/app/screens/messaging/ChatScreen.tsx
  frontend/app/screens/messaging/RoomShareSheet.tsx
  frontend/app/screens/messaging/profileCard.tsx
  frontend/app/screens/rooms/AdvancedSettings.tsx
  frontend/app/screens/rooms/EditRoom.tsx
  frontend/app/screens/rooms/MoreRooms.tsx
  frontend/app/screens/rooms/MyRooms.tsx
  frontend/app/screens/rooms/RoomInfo.tsx
  frontend/app/screens/rooms/RoomStack.tsx
  frontend/app/services/FriendServices.tsx
  frontend/app/services/Live.tsx
  frontend/assets/Explicit.png
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, medium priority, Demo 4

#263 Feature/friending and followers list
  backend/openapi/api.json
  backend/openapi/api.yaml
  frontend/__tests__/MorePage.test.tsx
  frontend/__tests__/ProfilePage.test.tsx
  frontend/app/components/FilterBottomSheet.tsx
  frontend/app/components/FollowBottomSheet.tsx
  frontend/app/components/LinkBottomSheet.tsx
  frontend/app/screens/profile/MorePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
Labels: frontend

#267 Hotfix/search population fix
  frontend/app/components/UserItem.tsx
  frontend/app/screens/(tabs)/Search.tsx
Labels: frontend

#269 Hotfix/auth refactors
  frontend/__tests__/WelcomeScreen.test.tsx
  frontend/app/screens/Auth/RegisterOther.tsx
  frontend/app/screens/WelcomeScreen.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/services/AuthManagement.tsx
Labels: frontend

#270 Hotfix/fat trimming
  frontend/__tests__/ChatListScreen.test.tsx
  frontend/__tests__/GettingStarted.test.tsx
  frontend/__tests__/ProfileManagement.test.tsx
  frontend/__tests__/RoomCollaboration.test.tsx
  frontend/__tests__/RoomInteraction.test.tsx
  frontend/__tests__/Search.test.tsx
  frontend/__tests__/friends/FriendsFollowing.test.tsx
  frontend/__tests__/messaging/ChatListScreen.test.tsx
  frontend/__tests__/messaging/__snapshots__/ChatListScreen.test.tsx.snap
  frontend/__tests__/services/FriendServices.test.tsx
  frontend/app/components/DeleteButton.tsx
  frontend/app/components/FriendCard.tsx
  frontend/app/components/TopNavBar.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/models/Room.ts
  frontend/app/screens/(tabs)/HelpScreen.tsx
  frontend/app/screens/(tabs)/Home.tsx
  frontend/app/screens/(tabs)/Search.tsx
  frontend/app/screens/followers/AllFriends.tsx
  frontend/app/screens/followers/Followers.tsx
  frontend/app/screens/followers/Following.tsx
  frontend/app/screens/messaging/ChatListScreen.tsx
  frontend/app/screens/messaging/CreateChatScreen.tsx
  frontend/app/screens/messaging/help/FriendsFollowing.tsx
  frontend/app/screens/messaging/help/GettingStarted.tsx
  frontend/app/screens/messaging/help/ProfileManagement.tsx
  frontend/app/screens/messaging/help/RoomCollaboration.tsx
  frontend/app/screens/messaging/help/RoomInteraction.tsx
  frontend/app/screens/rooms/AdvancedSettings.tsx
  frontend/app/screens/rooms/ChatRoom.tsx
  frontend/app/screens/rooms/MyRooms.tsx
  frontend/app/screens/rooms/RoomPage.tsx
  frontend/app/services/FriendServices.tsx
Labels: frontend, medium priority, Demo 4

#273 Hotfix/search & minor refactors
  frontend/__tests__/AnalyticsPage.test.tsx
  frontend/__tests__/UserItem.test.tsx
  frontend/app/components/SkeletonUserItem.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/components/analytics/AnalyticsMenu.tsx
  frontend/app/screens/(tabs)/Search.tsx
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/app/screens/rooms/RoomPage.tsx
Labels: frontend

#274 Hotfix/cleanup
  frontend/__tests__/HelpScreen.test.tsx
  frontend/__tests__/ProfilePage.test.tsx
  frontend/__tests__/friends/FriendsGrid.test.tsx
  frontend/app/components/FriendsGrid.tsx
  frontend/app/components/TopNavBar.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/screens/(tabs)/HelpScreen.tsx
  frontend/app/screens/(tabs)/Home.tsx
  frontend/app/screens/(tabs)/Search.tsx
  frontend/app/screens/followers/FollowerStack.tsx
  frontend/app/screens/messaging/CreateChatScreen.tsx
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/assets/download.png
  frontend/assets/profile-icon.png
  frontend/assets/profile-icon.rar
Labels: bug, frontend, Demo 4

#280 Hotfix/modal consistency
  backend/openapi/api.json
  backend/openapi/api.yaml
  backend/prisma/schema.prisma
  backend/src/modules/db-utils/db-utils.service.spec.ts
  backend/src/modules/users/users.service.spec.ts
  frontend/app/components/UserItem.tsx
  frontend/app/components/messaging/RoomShareSheet.tsx
  frontend/app/components/rooms/SplittingRoomPopUp.tsx
  frontend/app/screens/messaging/RoomShareSheet.tsx
  frontend/app/screens/profile/ProfilePage.tsx
Labels: frontend

#281 Friends Grid and minor home page changes
  Proxyserver/package-lock.json
  frontend/__tests__/EditProfile.test.tsx
  frontend/__tests__/friends/FriendsGrid.test.tsx
  frontend/__tests__/rooms/MyRooms.test.tsx
  frontend/app/components/AppCarousel.tsx
  frontend/app/components/FriendsGrid.tsx
  frontend/app/components/home/addRoomCard.tsx
  frontend/app/components/rooms/RoomCardWidget.tsx
  frontend/app/screens/(tabs)/Home.tsx
  frontend/app/screens/profile/EditProfilePage.tsx
  frontend/app/screens/rooms/MyRooms.tsx
Labels: frontend, medium priority, Demo 4

#283 Hotfix/placeholders
  frontend/__tests__/rooms/commentWidget.test.tsx
  frontend/app/components/AppCarousel.tsx
  frontend/app/components/CommentWidget.tsx
  frontend/app/components/UserItem.tsx
  frontend/app/components/home/addRoomCard.tsx
  frontend/app/components/rooms/RoomCardWidget.tsx
  frontend/app/screens/rooms/ChatRoom.tsx
  frontend/app/screens/rooms/ParticipantsPage.tsx
  frontend/app/screens/rooms/RoomPage.tsx
Labels: frontend, medium priority, Demo 4

#286 Testing/e2e
  frontend/.gitignore
  frontend/@env.d.ts
  frontend/app/components/UserItem.tsx
  frontend/app/screens/WelcomeScreen.tsx
  frontend/app/screens/profile/ProfilePage.tsx
  frontend/e2e/e2e.spec.ts
  frontend/e2e/fixtures.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Labels: frontend
